#control {
    justify-content: center;
    display: flex;
    margin-bottom: 50px;
}

#super {
    justify-content: center;
    display: flex;
}

#container {
    padding: 5px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
}


.row {
    flex: 1;
    display: flex;
}

.col {
    flex: 1;
}

.colored {
    background-color: black;
}